body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
}
@media only screen and (min-width: 320px) {
  .header {
    background-color: #ffff;
    padding: 0 10px 0 10px;
  }

  main {
    background-color: #f8f8f8;
    padding-top: 20px;
    min-height: 83vh;
    overflow-y: auto;
  }
  .menu__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .main__head {
    display: flex;
    gap: 8px;
  }

  h1 {
    margin: 0;
  }

  .main__highlight {
    width: 4px;
    height: 40px;
  }

  .main__slide2 {
    display: none;
  }
  .main__slide1 {
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 70%;
  }

  .main__detial {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
  }

  .main__read {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 30px 10px;
  }
  .main__icon {
    width: 24px;
    height: 24px;
  }
  .main__read > p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    margin-top: 4px;
  }

  .menu__item768 {
    display: none;
  }

  .main__detial768 {
    display: block;
  }
  .main__detial > p:nth-child(2) {
    display: none;
  }

  .main__head1120 {
    display: none;
  }
  .main__slide2 {
    display: none;
  }

  input {
    border: 3px solid #b8ffec;
    border-radius: 6px;
    height: 40px;
    width: 246px;
  }
  ::placeholder {
    color: #7e7e82;
    font-size: 16px;
    font-weight: 500;
  }
  .main__slide1 {
    padding: 10px;
    width: 95%;
  }
  .main__slide1 > button > a {
    border: 0;
    text-decoration: none;
    color: #7e7e82;
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .main__slide1 > button {
    border: 0;
    background: none;
    transition: transform 0.2s;
  }
  .main__slide1 > button:hover {
    background-color: white;
    color: white;
    transform: scale(1.5);
  }
  .main__slidenav {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  main {
    background-color: #f8f8f8;
    padding-top: 20px;
    min-height: 92vh;
    overflow-y: auto;
  }
  .menu__item768 {
    list-style: none;
    display: flex;
    padding: 0 0 0 213px;
    gap: 12%;
  }

  .main__detial768 {
    display: block;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
  }
  .main__detial > p:nth-child(2) {
    display: block;
  }

  .main__detial > p,
  .main__detial768 > p,
  .main__read {
    width: 77%;
  }

  .main__detialsec {
    display: flex;
    justify-content: center;
  }
  .main__detial {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .main__detialimg {
    display: flex;
    width: 50%;
  }

  .main__head1120 {
    display: none;
  }
  .main__slide2 {
    display: none;
  }
  input {
    border: 3px solid #b8ffec;
    border-radius: 6px;
    height: 40px;
    width: 246px;
  }
  ::placeholder {
    color: #7e7e82;
    font-size: 16px;
    font-weight: 500;
  }
  .main__slide1 > button > a {
    border: 0;
    text-decoration: none;
    color: #7e7e82;
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .main__slide1 > button {
    border: 0;
    background: none;
    transition: transform 0.2s;
  }
  .main__slide1 > button:hover {
    background-color: white;
    color: white;
    transform: scale(1.5);
  }
  .main__slidenav {
    display: none;
  }
}

@media only screen and (min-width: 1120px) {
  main {
    background-color: #f8f8f8;
    padding-top: 20px;
    min-height: 98vh;
    overflow-y: auto;
  }

  input {
    border: 3px solid #b8ffec;
    border-radius: 6px;
    height: 40px;
    width: 246px;
  }
  ::placeholder {
    color: #7e7e82;
    font-size: 16px;
    font-weight: 500;
  }
  .menu__list {
    list-style: none;
    display: flex;
    gap: 4%;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 60%;
  }

  .main__slide2 {
    display: block;
    padding: 20px;
  }
  .main__slide2 > button > a {
    border: 0;
    text-decoration: none;
    color: #7e7e82;
    padding: 20px 70px;
    font-size: 16px;
    font-weight: 500;
  }
  .main__slide2 > button {
    border: 0;
    background: none;
    transition: transform 0.2s;
    padding-top: 20px;
  }
  .main__slide2 > button:hover {
    background-color: white;
    color: white;
    transform: scale(1.5);
  }

  .header,
  .main__slide,
  .main__slide1 {
    display: none;
  }
  .Navbar__head {
    display: flex;
    justify-content: space-between;
    width: 94%;
    padding: 20px 30px 20px 20px;
  }

  .main__slidenav {
    display: flex;
    gap: 3%;
    width: 50%;
    justify-content: flex-end;
  }
  .menu__item1 {
    width: 30%;
    font-size: 16px;
    font-weight: 500;
  }
  .main__slidenav > ul > li > a {
    text-decoration: none;
    padding-bottom: 20px;
  }
  .main__head1120 > img {
    width: 100%;
  }
  .main__detial {
    width: 50%;
  }
  .main__detialimg {
    display: flex;
  }
  .main__detialimg > img {
    width: 100%;
  }

  .main__detial > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
  }
  .main__read > p {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    margin-top: 4px;
  }
  .main__read {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 30px 0;
  }

  .main__detialsec {
    display: flex;
    justify-content: center;
    width: 97%;
    padding: 0 20px 0 20px;
  }
}
